@model IEnumerable<NewsBoard.Models.News>
@{
    ViewData["Title"] = "Просмотр Категории";
}

<h1>НОВОСТИ</h1>
<table class="table">
        @foreach (var news in Model)
        {
        <tr>
            <td width="150" align="center"><img src="~/img/@news.ImgName" alt="@news.NewsName" height="150" /></td>
            <td align="center"><a class="nav-link text-dark" href="~/Home/News/@news.Id"><h3>@news.NewsName</h3></a></td>
            <td align="center"><p>@news.NewsDate</p></td>
            <td align="center"><p>@news.NewsCategory?.CategoryName</p></td>
        </tr>
        }
</table>
