@model NewsBoard.Models.News
@{
    ViewData["Title"] = "Создание статьи";
}


<h2>Создание</h2>
<form method="post" enctype="multipart/form-data">
    <fieldset>
        <p>
            Название новости <br />
            @Html.EditorFor(model => model.NewsName, new { requered = "required" })
        </p>
        <p>
            Текст новости <br />
            @Html.TextAreaFor(model => model.NewsText, 10, 50, null)
        </p>
        <p>
            Категория <br />
            @Html.DropDownListFor(model => model.NewsCategoryId, new SelectList(ViewBag.Category, "Id", "CategoryName"))
        </p>
        <p>
            Выберите изображение <br />
            <input type="file" name="uploadedFile" accept="image/*" required />
        </p>
        <input id="Submit" type="submit" value="Добавить новость" />
    </fieldset>
</form>








